<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>edit_subject</title>
<div class="container">
    <form action="/edit_subject/{{link}}" method="POST">
        Edit the subject! Must be over 3 and under 60 characters in length
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <p class=flashes>
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
                </p>
            {% endif %}
        {% endwith %}
        <p>
        <textarea name="edited_subject" rows="5" cols="50"></textarea>
        <p>
        <div class="radiocheck">
            <input type="radio" id="public" name="secret" value="public" checked>
            <label for="user">public</label>
            <input type="radio" id="private" name="secret" value="private">
            <label for="admin">private</label>
        </div>
        <p>
        <input type="submit" value="edit">
        <p>
        Type DELETE to delete subject
        <p>
        <textarea name="delete" rows="5" cols="50"></textarea>
        <p>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="submit" value="delete">
        <a href="/">go back</a>
    </form>
</div>
<div class="container">
    <form action="/add_user/{{link}}" method="POST">
        Add entry privileges
        <p>
        <textarea name="add_user" rows="5" cols="50"></textarea>
        <p>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="submit" value="add">
    </form>
</div>
<div class="container">
    <form action="/remove_user/{{link}}" method="POST">
        Remove entry privileges
        <p>
        <textarea name="remove_user" rows="5" cols="50"></textarea>
        <p>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="submit" value="remove">
    </form>
</div>