<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>edit_thread</title>
<div class="container">
    <form action="/edit_thread/{{link}}" method="POST">
        Edit the topic! Must be over 3 and under 60 characters in length
        <p>
        <textarea name="edited_topic" rows="5" cols="50"></textarea>
        <p>
        <input type="submit" value="edit">
        <p>
        Type DELETE to delete thread
        <p>
        <textarea name="delete" rows="5" cols="50"></textarea>
        <p>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="submit" value="delete">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <p class=flashes>
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
                </p>
            {% endif %}
        {% endwith %}
    </form>
    <a href="{{back}}">go back</a>
</div>