<!DOCTYPE html>
<title>edit_subject</title>
<form action="/edit_subject/{{link}}" method="POST">
    <h1>Edit subject</h1>
    <textarea name="edited_subject" rows="5" cols="50"></textarea>
    <br>
    <input type="radio" name="secret" value="public" checked> public
    <input type="radio" name="secret" value="private"> private
    <br>
    <input type="submit" value="edit">
    <h1>Type DELETE to delete subject</h1>
    <textarea name="delete" rows="5" cols="50"></textarea>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" value="delete">
</form>
<hr>
<form action="/add_user/{{link}}" method="POST">
    <h1>Add entry privileges</h1>
    <textarea name="add_user" rows="5" cols="50"></textarea>
    <br>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" value="add">
</form>
<hr>
<form action="/remove_user/{{link}}" method="POST">
    <h1>Remove entry privileges</h1>
    <textarea name="remove_user" rows="5" cols="50"></textarea>
    <br>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" value="remove">
</form>
<hr>
<a href="/">go back</a>