<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>edit_comment</title>
<div class="container">
    <form action="/edit_comment/{{link}}" method="POST">
        Edit the comment! Must be over 3 and under 60 characters in length
        <p>
        <textarea name="edited_comment" rows="5" cols="50"></textarea>
        <p>
        <input type="submit" value="edit">
        <p>
        Type DELETE to delete comment
        <p>
        <textarea name="delete" rows="5" cols="50"></textarea>
        <p>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="submit" value="delete">
    </form>    
    <a href="{{back}}">go back</a>
</div>