<!DOCTYPE html>
<title>discussorium</title>
<h1>DISCUSSORIUM</h1>
<br>
{% if session.user_id %}
<a href="/user">{{user}}</a>
<br>
<a href="/logout">logout</a>
{% else %}
<a href="/login">login</a>
{% endif %}
<br>
<form action="/search" method="GET">
    <input type="text" name="keyword" size="30">
    <input type="submit" value="search">
</form>
<hr>
{% if session.user_id %}
    {% for subject in subjects if not (subject[5] and subject[6] == 0 and session.user_id > 0) %}
        <a href="/subject/{{subject[0]}}"><h1>{{subject[1]}}</h1></a>
        <p>
        threads {{subject[2]}}
        <p>
        comments {{subject[3]}}
        <p>
        last comment {{subject[4]}}
        {% if session.user_id < 0 %}
            <p>
            <form action="/edit_subject/{{subject[0]}}" method="GET">
                <input type="submit" value="edit">
            </form> 
        {% endif %}
        <hr>
        {% endfor %}
    {% if session.user_id < 0 %}
        <a href="/new_subject">New subject</a>
    {% endif %}
{% else %}
    {% for subject in subjects if not subject[5] %}
        <a href="/subject/{{subject[0]}}"><h1>{{subject[1]}}</h1></a>
        <p>
        threads {{subject[2]}}
        <p>
        comments {{subject[3]}}
        <p>
        last comment {{subject[4]}}
        <hr>
    {% endfor %}
{% endif %}