<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>new_comment</title>
<div class="container">
    <form action="/new_comment/{{link}}" method="POST">
        Write a comment! Must be over 3 and under 500 characters in length
        <p>
        <textarea name="comment" rows="5" cols="50"></textarea>
        <p>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="submit" value="submit">
    </form>
    <a href="{{back}}">go back</a>
</div>