<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>new_thread</title>
<div class="container">
    <form action="/new_thread/{{link}}" method="POST">
        Topic of thread! Must be over 3 and under 60 characters in length
        <p>
        <textarea name="topic" rows="2" cols="50"></textarea>
        <p>
        Write a comment! Must be over 3 and under 500 characters in length
        <p>
        <textarea name="comment" rows="5" cols="50"></textarea>
        <p>
        <input type="hidden" name="user_id" value={{session.user_id}}>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="submit" value="submit">
    </form>
    <a href="{{back}}">go back</a>
</div>