<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>new_subject</title>
<div class="container">
    <form action="/new_subject" method="POST">
        New subject! Must be over 3 and under 60 characters in length
        <p>
        <textarea name="subject" rows="1" cols="25"></textarea>
        <p>
        <div class="radiocheck">
            <input type="radio" id="public" name="secret" value="public" checked>
            <label for="user">public</label>
            <input type="radio" id="private" name="secret" value="private">
            <label for="admin">private</label>
        </div>
        <p>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="submit" value="submit">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <p class=flashes>
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
                </p>
            {% endif %}
        {% endwith %}
    </form>
    <a href="/">go back</a>
</div>