<!DOCTYPE html>
<title>{{subject}}</title>
<h1>Threads discussing {{subject}}</h1>
<hr>
{% for thread in threads if not thread[2] == "DELETE" %}
<a href="/thread/{{thread[1]}}"><h1>{{thread[2]}}</h1></a>
<p>
likes {{thread[3]}}
{% if ((thread[6] == 0) and (session.user_id)) %} 
<form action="/subject/{{link}}" method="POST">
    <input type="submit" value="like">
    <input type="hidden" name="thread_id" value={{thread[1]}}>
</form> 
{% endif %}
{% if ((session.user_id <= -1 ) or (thread[7] == session.user_id)) %} 
<form action="/edit_thread/{{thread[1]}}" method="GET">
    <input type="submit" value="edit">
</form> 
{% endif %}
<p>
comments {{thread[4]}}
<p>
last comment {{thread[5]}}
<hr>
{% endfor %}
{% if session.user_id %}
<a href="/new_thread/{{link}}">Start new thread</a>
<hr>
{% endif %}
<a href="/">home</a>