<!DOCTYPE html>
<title>{{topic}}</title>
<h1>{{topic}}</h1>
<hr>
{% for comment in comments if not comment[2] == "DELETE" %}
<h1>{{comment[2]}}</h1>
<p>
likes {{comment[4]}}
<p>
user {{comment[3]}} 
{% if ((comment[6] == 0) and (session.user_id)) %} 
<form action="/thread/{{link}}" method="POST">
    <input type="submit" value="like">
    <input type="hidden" name="comment_id" value={{comment[1]}}>
</form> 
{% endif %}
{% if ((session.user_id <= -1 ) or (comment[7] == session.user_id)) %}
<form action="/edit_comment/{{comment[1]}}" method="GET">
    <input type="submit" value="edit">
</form> 
{% endif %}
<p>
posted {{comment[5]}}
<hr>
{% endfor %}
{% if session.user_id %}
<a href="/new_comment/{{link}}">comment</a>
<hr>
{% endif %}
<a href="/">home</a>